apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://kubernetes-sigs.github.io/headlamp/
    chart: headlamp
    targetRevision: 0.39.0
    helm:
      values: |

  destination:
    server: https://kubernetes.default.svc
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-headlamp-egress-to-kube-api
  namespace: headlamp
spec:
  podSelector: 
    matchLabels:
      app: headlamp
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
        cidr: 10.43.0.0/16
    ports:
    - protocol: TCP
      port: 443